html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: darkviolet;
}

.text-muted {
    position: absolute;
    left: 40%;
    color: #FFFFFF;
    font-family: roboto;
    font-weight: 700;
}