@{
    ViewBag.Title = "Book Store";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/IndexStyle.css" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Book Store</title>
</head>
<body>
    <header id="mainHeader">
        <div id="leftPart">
            <ul id="menu">
                <li><a href="/Books" id="btn-cat" class="btn btn-danger"><span class="glyphicon glyphicon-book"></span> Catalogue</a></li>
                <li><a href="Authors" id="btn-aut" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-user"></span> Author</a></li>
                @*<div class="dropdown">
                    <button class="dropbtn"><img src="~/Content/assets/img/menu.png" /></button>
                    <div class="dropdown-content">
                        <a href="/" id="nonActiveLink">Home</a>
                    </div>
                </div>*@
            </ul>
        </div>
        <div class="a" id="logo">
            <a href="/"><img src="~/Content/assets/img/logoSmall.png" alt="Book Store logo" width="100px" /></a>
        </div>

        <div class="a" id="rightPart">
            @if (!User.Identity.IsAuthenticated)
            {
            <div class="a" id="register">
                <a href="/Account/Register" id="sup" class="a btn btn-primary btn-primary"><span class="glyphicon glyphicon-pencil"></span> SIGN UP</a>
                <a href="/Account/Login" id="sin" class="a btn btn-primary btn-primary"><span class="glyphicon glyphicon-log-in"></span> SIGN IN</a>
            </div>
            }
            else
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right"}))
                {
                    @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()", 
                    id="sout" class="btn btn-warning"><span class="glyphicon glyphicon-log-out"></span> Log off</a>
                }
            }
        </div>
    </header>
    <div id="container" class="a">
        <div id="center" class="a">
            <h1>Welcome To The Book Catalogue</h1>
            <h2>The only important thing in a book is the meaning that it has for you.</h2>
            @using (Html.BeginForm("Index", "Books"))
            {
                <div class="a searchbar">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div id="search" class="input-group">
                            <div class="input-group-btn search-panel">
                                @*<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                                    </button>*@
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#contains">Contains</a></li>
                                    <li><a href="#its_equal">It's equal</a></li>
                                    <li><a href="#greather_than">Greather than ></a></li>
                                    <li><a href="#less_than">Less than < </a></li>
                                    <li class="divider"></li>
                                    <li><a href="#all">Anything</a></li>
                                </ul>
                            </div>
                            <form data-bind="submit: search">
                                <input type="hidden" name="search_param" value="all" id="search_param">
                                <input type="text" id="searchInput" class="form-control" name="searchQuery" placeholder="Search Books..." style="font-size: 2em">
                                <span class="input-group-btn">
                                    <button id="btn" class="btn btn-success" type="submit" disabled="disabled"><span class="glyphicon glyphicon-search" > Search</span></button>
                                </span>
                            </form>
                            <script type="text/javascript">
                                window.onload = function () {
                                    document.getElementById("searchInput").focus();
                                };
                                $(document).ready(function () {
                                    $('#searchInput').keyup(function() {
                                        if ($('#searchInput').val().length < 1) {
                                            $('#btn').prop('disabled', true)
                                        } else {
                                            $('#btn').prop('disabled', false)
                                        }
                                    })
                                });
                            </script>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <footer>
        <div id="copyright">
            <p>&copy; @DateTime.Now.Year - Book Catalogue by Hakob MKR, within VOLO CBC</p>
        </div>
    </footer>
</body>
</html>